.topimg {
    width: 30%;

}
header {
    text-align: center;
    padding-top: 10vw;
}
footer {
    text-align: center;
    color: grey !important;
}

.basho {
    /* width: 70%; */
    width: 70%;
    margin: 0 auto;
    /* display: flex;
    justify-content: center; /* 横方向に中央揃え */
    /* align-items: center; /* 縦方向に中央揃え */
    /* height: 100vh;  */

}
.kensaku-ou {

    /* border: black 1px solid;
    border-radius: 12px;
    text-align: right; */
    border: black 1px solid;
    border-radius: 12px;
    text-align: right;
    display: flex;
    justify-content: center; /* 検索ボックスとボタンの間を適切にスペース */
    align-items: center; /* 検索ボックスとボタンを縦方向で揃える */
    padding: 10px;
   
}
.kensakuran {
    line-height: 400%;
    width: 50%;
}
.search {
    width: 1.4%; 
    vertical-align:  middle; 
    text-align: right;
    margin-right: 50px;
}
input[type="text"] {
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}